/* breadcrumbs styles
-------------------------------------------- */

.breadcrumb-block {
  background-color: #f2f2f2;
  margin-bottom: 0;
  padding: 2px 0;

  ol {
    margin-bottom: 0;
    background-color: #f2f2f2;
    &>li {

      &>a {
        font-size: @font-size-md;
        color: #5a6066;

        &:hover,
        &:focus {
          outline: 0;
          text-decoration: none;
        }

        i {
          margin-right: 3px;
        }
      }
    }
  }
}