.btn-main {
  background-color: @color-red;
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: none;
  font-weight: 300;

  &:hover,
  &:focus,
  &:active {
    background-color: @color-red-light;
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  &.small {
    padding: 10px 25px;
    font-size: 14px;
    line-height: 14px;
  }
}

.btn-dark {
  background-color: #3d3d3d;
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: 300;

  &:hover,
  &:focus,
  &:active {
    background-color: @color-default;
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  &.small {
    padding: 10px 25px;
    font-size: 14px;
    line-height: 14px;
  }
}