/**
 * START DEMO CODE
 */

/*percentage STEPS (do not touch)*/
.full_percentage[data-percentage="100"] { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.full_percentage[data-percentage="95"] { -webkit-transform: rotate(170deg); -moz-transform: rotate(170deg); -o-transform: rotate(170deg); transform: rotate(170deg); }
.full_percentage[data-percentage="90"] { -webkit-transform: rotate(155deg); -moz-transform: rotate(155deg); -o-transform: rotate(155deg); transform: rotate(155deg); }
.full_percentage[data-percentage="85"] { -webkit-transform: rotate(125deg); -moz-transform: rotate(125deg); -o-transform: rotate(125deg); transform: rotate(125deg); }
.full_percentage[data-percentage="80"] { -webkit-transform: rotate(110deg); -moz-transform: rotate(110deg); -o-transform: rotate(110deg); transform: rotate(110deg); }
.full_percentage[data-percentage="75"] { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
.full_percentage[data-percentage="70"] { -webkit-transform: rotate(70deg); -moz-transform: rotate(70deg); -o-transform: rotate(70deg); transform: rotate(70deg); }
.full_percentage[data-percentage="65"] { -webkit-transform: rotate(55deg); -moz-transform: rotate(55deg); -o-transform: rotate(55deg); transform: rotate(55deg); }
.full_percentage[data-percentage="60"] { -webkit-transform: rotate(35deg); -moz-transform: rotate(35deg); -o-transform: rotate(35deg); transform: rotate(35deg); }
.full_percentage[data-percentage="55"] { -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); -o-transform: rotate(20deg); transform: rotate(20deg); }
.full_percentage[data-percentage="50"] { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }

.half_percentage[data-percentage="50"] { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.half_percentage[data-percentage="45"] { -webkit-transform: rotate(170deg); -moz-transform: rotate(170deg); -o-transform: rotate(170deg); transform: rotate(170deg); }
.half_percentage[data-percentage="40"] { -webkit-transform: rotate(155deg); -moz-transform: rotate(155deg); -o-transform: rotate(155deg); transform: rotate(155deg); }
.half_percentage[data-percentage="35"] { -webkit-transform: rotate(125deg); -moz-transform: rotate(125deg); -o-transform: rotate(125deg); transform: rotate(125deg); }
.half_percentage[data-percentage="30"] { -webkit-transform: rotate(110deg); -moz-transform: rotate(110deg); -o-transform: rotate(110deg); transform: rotate(110deg); }
.half_percentage[data-percentage="25"] { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
.half_percentage[data-percentage="20"] { -webkit-transform: rotate(70deg); -moz-transform: rotate(70deg); -o-transform: rotate(70deg); transform: rotate(70deg); }
.half_percentage[data-percentage="15"] { -webkit-transform: rotate(55deg); -moz-transform: rotate(55deg); -o-transform: rotate(55deg); transform: rotate(55deg); }
.half_percentage[data-percentage="10"] { -webkit-transform: rotate(35deg); -moz-transform: rotate(35deg); -o-transform: rotate(35deg); transform: rotate(35deg); }
.half_percentage[data-percentage="5"] { -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); -o-transform: rotate(20deg); transform: rotate(20deg); }
.half_percentage[data-percentage="0"] { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }


/*end STEPS*/

/*
 *
 * THE FIRST EXAMPLE
 * use that code if you want a percentuage from 50% to 100%
 *
 */

/*COLOR and STYLES (note: you can use gradients for the class full_bar_color)*/
.full_bar_color.__chart-day {
  background-color: @chart-day;
}

.full_bar_color.__chart-cnt {
  background-color: @chart-cnt;
}

.full_bar_color.__chart-price {
  background-color: @chart-price;
}
/*start pie chart code*/
.full_pie {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/*the background white circular color*/
.full_pie:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 60px;
  height: 60px;
  top: -5px;
  left: -5px;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/*color white #fff to fix the rendering problem*/
.full_pie:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  width: 48px;
  height: 48px;
  top: 1px;
  left: 1px;
  -webkit-box-shadow: 0px 0px 0px 2px #fff, inset 0 0 5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 0px 2px #fff, inset 0 0 5px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 0px 2px #fff, inset 0 0 5px rgba(0,0,0,0.1);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/*the icon*/
span.full_pie_icon {
  position: absolute;
  z-index: 7;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  color: @color-default;
  background: #fff;
  -webkit-box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/*ONE*/
.full_part_pie_one {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 50px 50px 25px);
  -webkit-animation: full_first 2s linear;
  -moz-animation: full_first 2s linear;
  -o-animation: full_first 2s linear;
  animation: full_first 2s linear;
  opacity: 0;
}
/*TWO*/
.full_part_pie_two {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 25px 50px 0px);
  -webkit-animation: full_second 3.25s linear;
  -moz-animation: full_second 3.25s linear;
  -o-animation: full_second 3.25s linear;
  animation: full_second 3.25s linear;
}
/*THREE*/
.full_part_pie_three {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 50px 50px 25px);
}
/*FOUR*/
.full_part_pie_four {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 25px 50px 0px);
  -webkit-animation: full_fourth 2s linear 2s;
  -moz-animation: full_fourth 2s linear 2s;
  -o-animation: full_fourth 2s linear 2s;
  animation: full_fourth 2s linear 2s;
  opacity: 0;
}

/*FIVE*/
.full_part_pie_five {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 50px 50px 25px);
  -webkit-animation: full_fifth 4s linear;
  -moz-animation: full_fifth 4s linear;
  -o-animation: full_fifth 4s linear;
  animation: full_fifth 4s linear;
  opacity: 1;
}

/*BIG*/
.full_pie_big {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 0 5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/*the background white circular color*/
.full_pie_big:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 110px;
  height: 110px;
  top: -5px;
  left: -5px;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/*color white #fff to fix the rendering problem*/
.full_pie_big:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  width: 98px;
  height: 98px;
  top: 1px;
  left: 1px;
  -webkit-box-shadow: 0px 0px 0px 2px #fff, inset 0 0 5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 0px 2px #fff, inset 0 0 5px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 0px 2px #fff, inset 0 0 5px rgba(0,0,0,0.1);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/*the icon*/
span.full_pie_big_icon {
  position: absolute;
  z-index: 7;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  font-size: 30px;
  line-height: 92px;
  text-align: center;
  color: @color-default;
  background: #fff;
  -webkit-box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/*ONE*/
.full_part_pie_big_one {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 100px 100px 50px);
  -webkit-animation: full_first 2s linear;
  -moz-animation: full_first 2s linear;
  -o-animation: full_first 2s linear;
  animation: full_first 2s linear;
  opacity: 0;
}
/*TWO*/
.full_part_pie_big_two {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 50px 100px 0px);
  -webkit-animation: full_second 3.25s linear;
  -moz-animation: full_second 3.25s linear;
  -o-animation: full_second 3.25s linear;
  animation: full_second 3.25s linear;
}
/*THREE*/
.full_part_pie_big_three {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 100px 100px 50px);
}
/*FOUR*/
.full_part_pie_big_four {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 50px 100px 0px);
  -webkit-animation: full_fourth 2s linear 2s;
  -moz-animation: full_fourth 2s linear 2s;
  -o-animation: full_fourth 2s linear 2s;
  animation: full_fourth 2s linear 2s;
  opacity: 0;
}

/*FIVE*/
.full_part_pie_big_five {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px 100px 100px 50px);
  -webkit-animation: full_fifth 4s linear;
  -moz-animation: full_fifth 4s linear;
  -o-animation: full_fifth 4s linear;
  animation: full_fifth 4s linear;
  opacity: 1;
}
.chart-txt_big {
  color: @color-default;
  font-size: @font-size-md;
  text-align: center;
  margin-bottom: 5px;
}

.chart-txt {
  color: @color-default;
  font-size: @font-size-sm;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;

  i {
    color: @chart-cnt;
    font-size: 20px;
    left: 4px;
    top: 3px;
    position: relative;
  }
}
/*FIRST animation*/
@-webkit-keyframes full_first {
  0% { opacity: 1; -webkit-transform: rotate(0deg); }
  100% { opacity: 1; -webkit-transform: rotate(180deg); }
}
@-moz-keyframes full_first {
  0% { opacity: 1; -moz-transform: rotate(0deg); }
  100% { opacity: 1; -moz-transform: rotate(180deg); }
}
@-o-keyframes full_first {
  0% { opacity: 1; -o-transform: rotate(0deg); }
  100% { opacity: 1; -o-transform: rotate(180deg); }
}
@keyframes full_first {
  0% { opacity: 1; transform: rotate(0deg); }
  100% { opacity: 1; transform: rotate(180deg); }
}
/*SECOND animation*/
@-webkit-keyframes full_second {
  0% { z-index: 6; }
  100% { z-index: 2; }
}
@-moz-keyframes full_second {
  0% { z-index: 6; }
  100% { z-index: 2; }
}
@-o-keyframes full_second {
  0% { z-index: 6; }
  100% { z-index: 2; }
}
@keyframes full_second {
  0% { z-index: 6; }
  100% { z-index: 2; }
}
/*FOURTH animation*/
@-webkit-keyframes full_fourth {
  0% { opacity: 1; -webkit-transform: rotate(0deg); }
  100% { opacity: 1; -webkit-transform: rotate(180deg); }
}
@-moz-keyframes full_fourth {
  0% { opacity: 1; -moz-transform: rotate(0deg); }
  100% { opacity: 1; -moz-transform: rotate(180deg); }
}
@-o-keyframes full_fourth {
  0% { opacity: 1; -o-transform: rotate(0deg); }
  100% { opacity: 1; -o-transform: rotate(180deg); }
}
@keyframes full_fourth {
  0% { opacity: 1; transform: rotate(0deg); }
  100% { opacity: 1; transform: rotate(180deg); }
}
/*FIFTH animation*/
@-webkit-keyframes full_fifth {
  0% { opacity: 0; }
  50% { opacity: 0; }
  50.1%, 100% { opacity: 1; }
}
@-moz-keyframes full_fifth {
  0% { opacity: 0; }
  50% { opacity: 0; }
  50.1%, 100% { opacity: 1; }
}
@-o-keyframes full_fifth {
  0% { opacity: 0; }
  50% { opacity: 0; }
  50.1%, 100% { opacity: 1; }
}
@keyframes full_fifth {
  0% { opacity: 0; }
  50% { opacity: 0; }
  50.1%, 100% { opacity: 1; }
}
