/* Form and form elements
------------------------------------ */

select {
  border: 1px solid @border-default;
  padding: 5px;
  color: #898989;
  border-radius: 2px;
  display: inline-block;
}
/* Custom input file */

.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;

  .button {
    background: url(../../../assets/images/icons/clip.png);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
  }

  input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
  }
}

label {
  font-weight: 400;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 0;
  font-size: 12px;
  color: #808080;

  &:focus,
  &:hover,
  &:active {
    border-color: #ccc;
    border-left: 2px solid @color-red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

.contact-form {
  padding: 5px 25px 25px;
  background-color: #f2f2f2;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .__auth {
    width: auto;
  }

  .form-control {
    font-size: 14px;
  }
}
