/* Adding custom styles for default headings
------------------------------------------------------ */

.h2 {
  position: relative;
  overflow: hidden;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: @color-h;
  margin-bottom: 34px;
  padding-bottom: 23px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: #1e1e1e;
    width: 42px;
    height: 1px;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #cbcbcb;
    width: 100%;
    height: 1px;
  }
}

.h3 {
  font-size: 24px;
  color: @color-default;
  margin-bottom: 15px;
}
.h4 {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: @color-h;
  margin-bottom: 34px;
  padding-bottom: 18px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: #1e1e1e;
    width: 42px;
    height: 1px;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #cbcbcb;
    width: 100%;
    height: 1px;
  }
}

@media (max-width: 767px) {
  .h1 {
    text-align: center;

    &:before {
      left: 0;
    }
  }

  .h3 {
    text-align: center;
  }

  .h4 {
    overflow: visible;
  }
}