/**
* Infinity scroll
**/

#infscr-loading {
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 200px;
  margin-left: -100px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}