.jcarousel-wrapper {
  width: 406px;
  padding: 0 25px;
  margin: 0 auto;
  position: relative;
}

/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  position: relative;
  background-color: #f2f2f2;
  width: 97px !important;
  height: 74px;
  margin: 0 30px 0 0;
  display: inline-block;
  vertical-align: middle;

 /* &.active {
    border: 1px solid @color-red;
  }*/
}

.jcarousel img {
  display: block;
  max-width: 95px;
  max-height: 72px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  width: 26px;
  height: 26px;
  text-decoration: none;
  text-indent: -9999px;
}

.jcarousel-control-prev {
  background: url(../../../assets/images/icons/arr-left.jpg);
  left: -25px;

  &:hover,
  &:focus {
    background: url(../../../assets/images/icons/arr-left-active.jpg);
    outline: 0;
  }
}

.jcarousel-control-next {
  background: url(../../../assets/images/icons/arr-right.jpg);
  right: -25px;

  &:hover,
  &:focus {
    background: url(../../../assets/images/icons/arr-right-active.jpg);
    outline: 0;
  }
}

/** Carousel Pagination **/

.jcarousel-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;

  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;

  background: #fff;
  color: #4E443C;
  border-radius: 10px;
  text-indent: -9999px;

  margin-right: 7px;


  -webkit-box-shadow: 0 0 2px #4E443C;
  -moz-box-shadow: 0 0 2px #4E443C;
  box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;

  -webkit-box-shadow: 0 0 2px #F0EFE7;
  -moz-box-shadow: 0 0 2px #F0EFE7;
  box-shadow: 0 0 2px #F0EFE7;
}