/* Custom modal styles
------------------------------- */

.small_modal {
  top: 20%;
}

.study_modal {
  width: 1000px;
}

.modal-header {
  //border-bottom: none;
  padding: 30px 0 15px 0;
  margin: 0 30px;

  .close {
    margin-top: -20px;
    margin-right: -16px;
    font-size: 30px;
    font-weight: 300;
    color: @color-red;

    &:hover,
    &:focus {
      color: @color-red-light;
      outline: none;
    }
  }
}

.modal-title {
  font-size: 18px;
  color: @color-default;

  i {
    margin-right: 10px;
  }
}

.modal-content,
.modal-body {
  border-radius: 0;
}

.modal-body {
  padding: 20px 30px 25px 30px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 420px;
    margin: 220px auto 30px auto;
  }

  .modal-dialog.__md {
    width: 600px;
    margin: 30px auto;
  }
}