/* Navigation styles
------------------------------------ */
.navbar {
  border: none;
  background-color: #444;
}

.navbar-brand {
  padding: 0 15px;
  height: auto;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: @color-default;
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
  font-weight: 300;
}

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0;
  }
}
