.pager li > a:hover, 
.pager li > a:focus {
  background-color: @color-default;
  color: @color-light;
}

.pager li > a {
  border: none;
  border-radius: 2px;
}

.pager li.active > a {
  background-color: @color-default;
  color: @color-light;
}