/* Table styles
----------------------------------------- */

.table-info {

  td {
    padding: 5px 0;

    &:nth-child(odd) {
      width: 150px;
    }
  }
}

.table-report {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c8c8c8;
  margin-bottom: 20px;
  font-size: @font-size-sm;

    tr {

      &:nth-child(odd) {
        background-color: #f5f5f5;
      }
      th {
        background-color: #eaeaea;
        border: 1px solid #c8c8c8;
        padding: 15px;
        text-align: center;
        font-weight: 500;
        width: 30%;

        &:last-child {
          width: 10%;
        }
      }

      td {
        border: 1px solid #c8c8c8;
        vertical-align: middle;
        padding: 15px;
        

      }
    }
}

.table-report-mobile {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c8c8c8;
  margin-bottom: 20px;
  font-size: @font-size-sm;

  tr {

    &:nth-child(odd) {
      background-color: #f5f5f5;
    }
    td.th {
      background-color: #eaeaea;
      border: 1px solid #c8c8c8;
      padding: 15px;
      text-align: center;
      font-weight: 600;
      font-size: @font-size-md;
      width: 100%;
    }

    td {
      border: 1px solid #c8c8c8;
      vertical-align: middle;
      padding: 15px;
      width: 100%;
      text-align: center !important;
    }
  }
}

.table {
  font-size: @font-size-sm;
  
  tr {

    th {
      background-color: #f7f7f7;
      padding: 15px 10px !important;
      border-bottom: 1px solid #ddd !important;
    }

    td {
      padding: 15px 10px !important;
    }
  }
}