/**
* Tabs restyling
**/

.nav-tabs > li > a {
  border-radius: 0 !important;
  padding: 10px 14px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-radius: 0 !important;

}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: @color-red;
}

.tab-pane {
  padding: 20px 5px;
  
  p {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    
    li {
      line-height: 24px;
    }
  }
}