/**
* About styles
**/

.about-block {
  .about_img {
    margin: 0 30px 15px 0;
    float: left;
  }
  
  p {
    margin: 0 0 20px 0;
    line-height: 26px;
  }

  .quotes {
    font-style: italic;
  }
  
  ul {
    li {
      line-height: 26px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-block {
    .about_img {
      float: none;
      margin: 0 auto;
    }
  }
}