/**
* Auth styles
**/

.social-auth_ul {
  margin: 10px 0 20px 0;
  padding: 0;
  list-style: none;

  .social-auth_li {
    display: inline-block;

    .vk {
      background: url(../../../assets/images/sprites/auth-social-sprite.png) no-repeat 0 0;
      width: 35px;
      height: 35px;
      display: inline-block;
    }
    .fb {
      background: url(../../../assets/images/sprites/auth-social-sprite.png) no-repeat -38px 0;
      width: 35px;
      height: 35px;
      display: inline-block;
    }
    .tw {
      background: url(../../../assets/images/sprites/auth-social-sprite.png) no-repeat -76px 0;
      width: 35px;
      height: 35px;
      display: inline-block;
    }
    .ok {
      background: url(../../../assets/images/sprites/auth-social-sprite.png) no-repeat -114px 0;
      width: 35px;
      height: 35px;
      display: inline-block;
    }
    .gp {
      background: url(../../../assets/images/sprites/auth-social-sprite.png) no-repeat -152px 0;
      width: 35px;
      height: 35px;
      display: inline-block;
    }
  }
}