/**
* Blog styles
**/
.blog-category {
  position: absolute;
  right: 0;
  top: 15px;

  & > a {
    color: @color-default;
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }

    span {
      color: @color-red;
    }
  }

  & > ul {
    left: -114px;
    border-radius: 0;
    text-align: right;

    & > li {
      &>a {
        font-size: @font-size-sm;
        &:hover {
          background-color: #fff;
          color: @color-red;
        }
      }
    }
  }
}

.blog-block {
  position: relative;
  margin-bottom: 45px;
  
  .blog-block_i {
    float: left;
    margin-bottom: 30px;

    .blog-block_img {
      position: relative;
      width: 100%;
      border: 1px solid #f2f2f2;
      margin-bottom: 15px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      
      &:hover {
        .blog-block_overlay {
          display: block;
        }
      }

      .blog-block_overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.55);

        a {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            z-index: 2;
            width: 30px;
            height: 30px;
            color: #fff;
            font-size: 30px;
            line-height: 30px;
          }
        }
      }
      
      img {
        width: 100%;
        height: auto;
      }
    }

    .blog-block_t {
      margin-bottom: 15px;

      a {
        font-size: 18px;
        line-height: 18px;
        color: @color-default;
        font-weight: 300;

        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
    }

    .blog-block_cat {
      margin-bottom: 15px;

      .blog-block_cat_ul {
        margin: 0;
        padding: 0;
        list-style: none;

        .blog-block_cat_li {
          display: inline-block;

          &:after {
            content: "|";
            padding: 0 3px 0 5px;
            color: @color-h;
          }

          &:last-child:after {
            content: "";
          }

          a {
            color: @color-h;
            font-size: @font-size-sm;
            line-height: @font-size-sm;
          }
        }
      }
    }

    .blog-block_desc {
      font-size: 12px;
      color: @color-default;
      line-height: 22px;
      margin-bottom: 15px;
    }
    .blog-block_meta {

      .blog-block_meta_date {
        float: left;
        font-size: @font-size-sm;
        color: @color-h-ligher;
      }
      .blog-block_meta_comm {
        float: right;
        font-size: @font-size-sm;
        color: @color-h-ligher;
      }
    }
  }
}

.post {
  padding-bottom: 20px;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 30px;

  .post-block {

    .entry-post {

      .entry-img {
        width: 100%;
        border: 1px solid #f2f2f2;
        margin-bottom: 15px;
        
        img {
          width: 100%;
          height: auto;
        }
      }

      .entry-utility {
        margin-bottom: 15px;
        
        .entry-utility_ul {
          margin: 0;
          padding: 0;
          list-style: none;

          .entry-utility_li {
            display: inline-block;

            &:after {
              content: "|";
              padding: 0 3px 0 5px;
              color: @color-h;
            }

            &:last-child:after {
              content: "";
            }

            a {
              color: @color-h;
              font-size: @font-size-sm;
              line-height: @font-size-sm;
            }
          }
        }
      }

      .entry-cnt {
        .entry-cnt_likes {
          width: 90px;
          margin-right: 16px;
          display: inline-block;
          vertical-align: top;

          .entry-social_ul {
            margin: 0;
            padding: 0;
            list-style: none;

            .entry-social_li {
              display: inline-block;
              margin-bottom: 7px;

              .fb {
                display: inline-block;
                vertical-align: middle;
                background: url('../../../assets/images/sprites/like-sprites.png') no-repeat 0 0;
                width: 34px;
                height: 34px;
              }
              .vk {
                display: inline-block;
                vertical-align: middle;
                background: url('../../../assets/images/sprites/like-sprites.png') no-repeat 0 -50px;
                width: 34px;
                height: 34px;
              }
              .tw {
                display: inline-block;
                vertical-align: middle;
                background: url('../../../assets/images/sprites/like-sprites.png') no-repeat 0 -100px;
                width: 34px;
                height: 34px;
              }
              .in {
                display: inline-block;
                vertical-align: middle;
                background: url('../../../assets/images/sprites/like-sprites.png') no-repeat 0 -150px;
                width: 34px;
                height: 34px;
              }
              .entry_cnt {
                display: inline-block;
                vertical-align: middle;
                border: 1px solid #ccc;
                font-size: 12px;
                text-align: center;
                padding: 2px 0;
                width: 49px;
                margin-left: 3px;
              }
            }
          }
        }

        .entry-cnt_txt {
          display: inline-block;
          width: calc(~'100% - 110px');
        }

        p {
          font-size: 12px;
          margin-bottom: 20px;
          line-height: 22px;
        }
      }

      .entry-meta {

        .entry-meta_data {
          float: left;
          font-size: @font-size-sm;
          color: @color-h-ligher;
        }
      }
    }
  }
}

.post-sidebar {

  .post-sidebar_search {
    input {
      background: url(../../../assets/images/icons/search.png) no-repeat 97% center;
    }
  }

  .post-sidebar_t {
    font-size: 18px;
    color: @color-default;
    margin-top: 37px;
    margin-bottom: 20px;
  }

  .post-sidebar_cat_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .post-sidebar_cat_li {
      float: left;
      width: 100%;

      a {
        float: left;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #e7e7e7;
        color: @color-h;

        &:hover,
        &:focus {
          outline: 0;
          color: @color-red;
        }
      }
    }
  }

  .post-sidebar_popular_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .post-sidebar_popular_li {
      float: left;
      width: 100%;

      a {
        float: left;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #e7e7e7;
        color: @color-h;
        font-size: @font-size-sm;

        &:hover,
        &:focus {
          outline: 0;
          color: @color-red;
        }
      }
    }
  }

  .similar_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .similar_li {
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e7e7e7;

      .similar_img {
        display: inline-block;
        vertical-align: top;
        width: 82px;
        height: 73px;
        margin-right: 10px;

        img {
          display: inline-block;
          vertical-align: middle;
          max-width: 82px;
          max-height: 73px;
        }
      }

      .similar_info {
        width: calc(~'100% - 96px');
        display: inline-block;
        vertical-align: top;

        .similar_t {
          a {
            color: @color-default;
            font-size: 14px;
          }
        }
        
        .similar_desc {
          font-size: @font-size-sm;
        }
      }
    }
  }

  .blogauthor_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .blogauthor_li {
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e7e7e7;

      .blogauthor_img {
        display: inline-block;
        vertical-align: top;
        width: 82px;
        height: 73px;
        margin-right: 10px;

        img {
          display: inline-block;
          vertical-align: middle;
          max-width: 82px;
          max-height: 73px;
        }
      }

      .blogauthor_info {
        width: calc(~'100% - 96px');
        display: inline-block;
        vertical-align: top;


        .blogauthor_t {
          color: @color-default;
          font-size: 14px;
          margin-bottom: 10px;
        }

        .blogauthor_social {
          a {
            display: inline-block;
            margin-right: 10px;

            .fb {
              background: url('../../../assets/images/sprites/color-soc-sprite.png') no-repeat 0 0;
              width: 30px;
              height: 30px;
              display: inline-block;
            }

            .vk {
              background: url('../../../assets/images/sprites/color-soc-sprite.png') no-repeat -40px 0;
              width: 30px;
              height: 30px;
              display: inline-block;
            }

            .tw {
              background: url('../../../assets/images/sprites/color-soc-sprite.png') no-repeat -80px 0;
              width: 30px;
              height: 30px;
              display: inline-block;
            }

            .in {
              background: url('../../../assets/images/sprites/color-soc-sprite.png') no-repeat -120px 0;
              width: 30px;
              height: 30px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.comments {
  margin-bottom: 30px;
}

.media {
  padding: 25px 0;
  margin: 0;
  border-bottom: 1px solid #d3d3d3;

  .media-body {
    font-size: 12px;
    line-height: 20px;
  }

  .media-heading {
    font-size: 14px;
    color: @color-h;
    margin-bottom: 10px;
    
    span {
      font-size: 12px;
    }
  }
}

.add-comment {
  margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .entry-cnt {
    .entry-cnt_likes {
      width: 84px !important;
    }
  }
}

@media (max-width: 767px) {
  .blog-category {
    & > ul {
      left: -137px;
      & > li {
        & > a {
          font-size: 14px;
        }
      }
    }
  }
  
  .post {
    border-bottom: none;
  }

  .post-sidebar {
    margin-top: 30px;
  }
  
  .media-body,
  .media-heading {
    font-size: 14px !important;
    line-height: 22px;
  }

  .entry-cnt {
    p {
      font-size: 14px !important;
      line-height: 28px !important;
      margin-bottom: 30px !important;
    }

    .entry-cnt_likes {
      width: 84px !important;
    }
  }

}