/* Footer part
----------------------------- */

.footer {
  background-color: #222;
  padding: 36px 0 47px 0;
  border-top: 1px solid #bbb;
  height: 152px;

  .footer_social {
    .footer_social_t {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 15px;
    }

    .footer_social_ul {
      padding: 0;
      margin: 0;
      list-style: none;

      .footer_social_li {
        display: inline-block;

        a {
          .fb {
            background: url('../../../assets/images/sprites/social-sprite.png') no-repeat 0 0;
            width: 42px;
            height: 42px;
            display: inline-block;
          }
          .tw {
            background: url('../../../assets/images/sprites/social-sprite.png') no-repeat -51px 0;
            width: 42px;
            height: 42px;
            display: inline-block;
          }
          .vk {
            background: url('../../../assets/images/sprites/social-sprite.png') no-repeat -102px 0;
            width: 42px;
            height: 42px;
            display: inline-block;
          }
          .in {
            background: url('../../../assets/images/sprites/social-sprite.png') no-repeat -152px 0;
            width: 42px;
            height: 42px;
            display: inline-block;
          }
        }
      }
    }
  }

  .footer-menu_ul {
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;
    width: 100%;
    text-align: center;
    display: inline-block;

    .footer-menu_li {
      display: inline-block;
      margin-right: 5px;

      &:after {
        content: "|";
        padding-left: 10px;
        color: #fff;
      }

      &:last-child:after {
        content: "";
        padding-left: 0;
      }
      
      a {
        color: #fff;
        font-size: @font-size-sm;
        font-weight: 300;
      }

      &:hover,
      &.active {
        a {
          color: @color-red;
          text-decoration: none;
        }
      }
    }
  }

  .footer_copy {
    font-size: @font-size-sm;
    color: #808080;
    text-align: center;
  }

  .footer_rss {
    .footer_rss_t {
      margin-bottom: 10px;
      color: #fff;
      font-weight: 300;
    }
    .footer_rss_email {
      background: #fff url(../../../assets/images/icons/input-arrow.png) no-repeat 98% center;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    height: auto;

    .footer_social {
      text-align: center;
      margin-bottom: 10px;
    }

    .footer-menu_ul,
    .footer_copy {
      margin-bottom: 10px;
    }

    .footer_rss {
      text-align: center;

      .footer_rss_email {
        width: 300px;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    height: auto;

    .footer_social {
      text-align: center;
      margin-bottom: 10px;
    }

    .footer-menu_ul,
    .footer_copy {
      margin-bottom: 10px;
    }

    .footer_rss {
      text-align: center;

      .footer_rss_email {
        width: 300px;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 321px) {
  .footer .footer_rss .footer_rss_email {
    width: 100%;
  }

  .nf-carousel,
  .breadcrumb-block {
    display: none;
  }

  .ideas-detail_tabs {
    margin-top: 20px;
  }

  .nav-tabs > li {
    width: 100%;
  }
}