/* Header styles
-----------------------------------*/
.header {
  background: url(../../../assets/images/header/header-bg.jpg) no-repeat;
  background-size: cover;
  height: 103px;

  .header-nav_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .header-nav_li {
      display: inline-block;
      margin-right: 24px;
      padding: 36.5px 0;
      
      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.active {
        a {
          border-bottom: 1px solid #fff;
        }
      }

      a {
        display: block;
        padding: 5px 0;
        color: #fff;
        font-size: @font-size-md;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }
    }
  }

  .header-lng {
    display: inline-block;
    padding: 41.5px 0;
    float: right;

    .header-lng_ul {
      margin: 0;
      padding: 0;
      list-style: none;

      .header-lng_li {
        display: inline-block;

        a {
          color: #fff;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .header-auth {
    display: inline-block;
    padding: 41.5px 0;
    margin-left: 6px;
    float: right;

    .header-auth_ul {
      padding: 0;
      margin: 0;
      list-style: none;

      .header-auth_li {
        display: inline-block;
        color: #fff;

        a {
          color: #fff;

        }
      }
    }
  }

  .header-search {
    position: relative;
    float: right;
    display: inline-block;
    padding: 41.5px 0;
    margin-left: 10px;

    i {
      color: #fff;
      font-weight: normal;
      cursor: pointer;
    }

    .header-search-input {
      display: none;
      position: absolute;
      right: 0;
      top: 38px;
      z-index: 10;
      width: 205px;
      border: 1px solid #ccc;
      padding: 3px 10px;
    }
  }
}

.header-tablet {
  background: url(../../../assets/images/header/header-bg.jpg) no-repeat;
  background-size: cover;
  height: 103px;

  .header-tablet_top-bar {
    position: relative;
    border-bottom: 1px solid #fff;

    .header-tablet-lng {
      display: inline-block;
      padding: 5px 0;

      .header-tablet-lng_ul {
        margin: 0;
        padding: 0;
        list-style: none;

        .header-tablet-lng_li {
          display: inline-block;

          a {
            color: #fff;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    .header-tablet-auth {
      display: inline-block;
      padding: 5px 0;
      margin-left: 6px;

      .header-tablet-auth_ul {
        padding: 0;
        margin: 0;
        list-style: none;

        .header-tablet-auth_li {
          display: inline-block;
          color: #fff;

          a {
            color: #fff;

          }
        }
      }
    }

    .header-tablet-search {
      position: relative;
      float: right;
      display: inline-block;
      padding: 5px 0 5px 5px;

      i {
        color: #fff;
        font-weight: normal;
        cursor: pointer;
      }

      .header-tablet-search-input {
        display: none;
        position: absolute;
        right: 0;
        top: 1px;
        width: 205px;
        border: 1px solid #ccc;
        padding: 3px 10px;
      }
    }
  }

  .header-tablet_logo {
    margin-top: 10px;
  }

  .header-tablet-nav_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .header-tablet-nav_li {
      display: inline-block;
      margin-right: 29px;
      padding: 20px 0;

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.active {
        a {
          border-bottom: 1px solid #fff;
        }
      }

      a {
        display: block;
        padding: 5px 0;
        color: #fff;
        font-size: @font-size-md;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }
    }
  }
}

.header-mobile-auth {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -88px;

  .header-mobile-auth_ul {
    padding: 0;
    margin: 0;
    list-style: none;

    .header-mobile-auth_li {
      display: inline-block;
      color: #fff;

      a {
        color: #fff;

      }
    }
  }

  .header-mobile-search {
    position: absolute;
    right: -30px;
    top: -4px;
    padding: 5px 0 5px 5px;

    i {
      color: #fff;
      font-weight: normal;
      cursor: pointer;
    }

    .header-mobile-search-input {
      display: none;
      position: absolute;
      right: 0;
      top: 1px;
      width: 205px;
      border: 1px solid #ccc;
      padding: 3px 10px;
    }
  }
}



@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    .header-nav_ul {
      .header-nav_li {
        margin-right: 6px;

      }
    }
  }
}