/**
* Ideas styles
**/
.ideas-category {
  position: absolute;
  right: 0;
  top: 15px;

  & > a {
    color: @color-default;
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }

    span {
      color: @color-red;
    }
  }

  & > ul {
    left: -114px;
    border-radius: 0;
    text-align: right;

    & > li {
      &>a {
        font-size: @font-size-sm;
        &:hover {
          background-color: #fff;
          color: @color-red;
        }
      }
    }
  }
}
.ideas-author {
  position: absolute;
  right: 90px;
  top: 15px;

  & > a {
    color: @color-default;
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }

    span {
      color: @color-red;
    }
  }

  & > ul {
    left: -114px;
    border-radius: 0;
    text-align: right;

    & > li {
      &>a {
        font-size: @font-size-sm;
        &:hover {
          background-color: #fff;
          color: @color-red;
        }
      }
    }
  }
}

.ideas-block {
  position: relative;
  margin-bottom: 45px;
  overflow: hidden;

  .ideas-block_i {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;

    &:nth-child(2n) {

      .ideas-block_img {
        transform: skew(3deg, 0deg) ;
        -webkit-transform: skew(3deg, 0deg) ;
        -moz-transform: skew(3deg, 0deg) ;
        -o-transform: skew(3deg, 0deg) ;
        -ms-transform: skew(3deg, 0deg) ;
      }
    }

    .ideas-block_img {
      position: relative;
      width: 100%;
      border: 1px solid #f2f2f2;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin-bottom: 15px;
      transform: skew(-3deg, 1deg) ;
      -webkit-transform: skew(-3deg, 1deg) ;
      -moz-transform: skew(-3deg, 1deg) ;
      -o-transform: skew(-3deg, 1deg) ;
      -ms-transform: skew(-3deg, 1deg) ;

      &:hover {
        .ideas-block_overlay {
          display: block;
        }
      }

      .ideas-block_overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.55);

        a {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            z-index: 2;
            width: 30px;
            height: 30px;
            color: #fff;
            font-size: 30px;
            line-height: 30px;
          }
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .ideas-block_info {

      .ideas-block_t {
        margin-bottom: 15px;

        a {
          font-size: 18px;
          line-height: 18px;
          color: @color-default;
          font-weight: 300;

          &:hover {
            text-decoration: none;
            color: #000;
          }
        }
      }

      .ideas-block_cat {
        margin-bottom: 15px;

        .ideas-block_cat_ul {
          margin: 0;
          padding: 0;
          list-style: none;

          .ideas-block_cat_li {
            display: inline-block;

            &:after {
              content: "|";
              padding: 0 3px 0 5px;
              color: @color-h;
            }

            &:last-child:after {
              content: "";
            }

            a {
              color: @color-h;
              font-size: @font-size-sm;
              line-height: @font-size-sm;
            }
          }
        }
      }

      .ideas-block_desc {
        font-size: 12px;
        color: @color-default;
        line-height: 22px;
        margin-bottom: 15px;
      }

      .ideas-block_charts {
        text-align: center;
        margin: 20px 0 40px 0;
      }
    }

  }
}

/*
*Detail
*/

.ideas-detail_cat {
  position: absolute;
  right: 0;
  top: 15px;
}

.ideas-detail_box {

  .ideas-detail_img {
    border: 1px solid #f2f2f2;
    margin-bottom: 25px;
  }

  .donation-charts {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 30px;
  }

}
.ideas-detail_tabs {
  position: relative;

  .ideas-detail_shop {
    position: absolute;
    right: 0;
    top: -2px;
  }
}

.gifts_ul {
  padding: 0;
  list-style: none;

  .gifts_li {
    .gifts_price {
      background-color: #3d3d3d;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      padding: 15px;
    }

    .gifts_img {
      width: 100%;
      margin-bottom: 15px;

      img {
        width: 100%;
        height: auto;
      }
    }
    
    .gifts_txt {
      font-size: @font-size-sm;
      margin-bottom: 15px;
    }

    .gifts-donation {
      background-color: #f3f3f3;
      padding: 20px;
      text-align: center;
    }
  }
}

.nf-carousel {
  margin: 0 0 70px 0;

  .nf-carousel_ul {
    margin: 0 auto;
    padding: 0 25px;
    list-style: none;
    width: 401px;
    overflow: hidden;

    .nf-carousel_li {
      width: 97px;
      height: 74px;
      display: inline-block;
      margin: 0 30px 0 0;
      background-color: #f2f2f2;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ideas-detail_authors {
    .authors_ul .authors_li {
      .authors_info {
        width: 82%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ideas-detail_authors {
    .authors_ul .authors_li {
      .authors_info {
        width: 77%;
      }
    }
  }
}

@media (max-width: 767px) {
  .nf-carousel {
    margin-bottom: 20px;
  }

  .ideas-detail_cat {
    display: none;
  }

  .ideas-detail_tabs {
    .ideas-detail_shop {
      position: relative;
      top: 0;
      text-align: center;
      margin: 25px 0;
    }
  }

  .ideas-detail_authors {
    .authors_ul .authors_li {
      text-align: center;
      
      .authors_info {
        width: 100%;
        text-align: center;
        
        &:nth-child(odd) {
          margin: 0 0 20px 0;
        }
        &:nth-child(even) {
          margin: 20px 0 0 0;
        }
        
        .authors_n {
          font-size: 16px;
        }
        
        .authors_desc {
          font-size: 14px;
          line-height: 26px;
        }
      }
      
      &:last-child {
        border-bottom: none;
      }
    }
  }
}