/**
* Main page styles
**/

.main-box_cnt {
  position: relative;
  margin-top: 40px;

  .mpage-block {
    margin-bottom: 90px;

    .mpage-block_t {
      position: relative;
      overflow: hidden;
      font-size: 24px;
      line-height: 24px;
      font-weight: 300;
      color: @color-h;
      margin-bottom: 34px;
      padding-bottom: 23px;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        z-index: 2;
        background-color: #1e1e1e;
        width: 42px;
        height: 1px;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: #cbcbcb;
        width: 100%;
        height: 1px;
      }

      & > .mpage-block_detail {
        position: absolute;
        right: 0;
        bottom: 10px;
        color: @color-h;
        font-size: 12px;

        &:hover {
          text-decoration: none;
        }

        &:after {
          content: ">";
          color: @color-red;
          padding-left: 5px;
        }
      }
      & > .mpage-block_controls {
        position: absolute;
        right: 70px;
        bottom: 10px;

        &.__proj {
          right: 100px;
        }

        a {
          display: inline-block;
          text-indent: -9999px;
          width: 26px;
          height: 26px;
        }

        .arr-left {
          background: url(../../../assets/images/icons/arr-left.jpg) no-repeat;

          &:hover,
          &:focus,
          &:active,
          &.active {
            background: url(../../../assets/images/icons/arr-left-active.jpg) no-repeat;
          }
        }
        .arr-right {
          background: url(../../../assets/images/icons/arr-right.jpg) no-repeat;

          &:hover,
          &:focus,
          &:active,
          &.active {
            background: url(../../../assets/images/icons/arr-right-active.jpg) no-repeat;
          }
        }
      }
    }
    .mpage-block_box {
      overflow: hidden;
      position: relative;

      .mpage-block_ul {
        padding: 0;
        list-style: none;
        position: relative;

        .mpage-block_li {
          float: left;
          width: 390px;
          padding: 0 15px;

          &.__our-proj_li {
            width: 293px;
          }
        }

        .mpage-block_box_meta {
          color: @color-h;
          font-size: @font-size-sm;
          margin-bottom: 20px;

          .mpage-block_box_l {
            float: left;
          }

          .mpage-block_box_r {
            float: right;
          }

          .mpage-block_box_date {
            color: @color-h;
            display: inline-block;
            margin-right: 3px;
          }

          .mpage-block_box_author {
            display: inline-block;
            margin-right: 3px;
            a {
              color: @color-red;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .mpage-block_box_comm {
            i {
              color: @color-red;
            }
          }
        }

        .mpage-block_box_img {
          height: 206px;
          width: 100%;
          overflow: hidden;
          margin-bottom: 25px;

          &.__blog_img {
            height: 150px;
          }
        }

        .mpage-block_box_t {
          font-size: 18px;
          line-height: 18px;
          margin: 0 0 25px 0;

          a {
            color: @color-default;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .mpage-block_box_desc {
          position: relative;
          font-size: @font-size-md;
          color: @color-default;
          line-height: 24px;

          &.__sm {
            font-size: 12px;
            margin-bottom: 10px;
          }

          a {
            color: @color-h;
            font-size: 12px;
            float: right;

            &.__nofl {
              float: none;
              display: block;
            }

            &:hover {
              text-decoration: none;
            }

            &:after {
              content: ">";
              color: @color-red;
              padding-left: 5px;
            }
          }
        }

        .mpage-block_box_charts {
          text-align: center;
          margin: 20px 0 40px 0;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-box_cnt {
    .mpage-block {
      margin-bottom: 45px;

      .mpage-block_box {
        .mpage-block_ul {
          .mpage-block_li {
            width: 324px;
            
            .mpage-block_box_desc {
              a {
                float: none;
              }
            }

            &.__our-proj_li {
              width: 243px;
            }
          }
        }
      }
    }
  }
  
  .full_pie {
    margin: 0 8px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-box_cnt {
    margin-top: 30px;

    .mpage-block {
      margin-bottom: 45px;

      .mpage-block_box {
        .mpage-block_ul {
          .mpage-block_li {
            width: 380px;

            &.__our-proj_li {
              width: 250px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-box_cnt {
    margin-top: 30px;

    .mpage-block {
      margin-bottom: 45px;

      .mpage-block_box {
        .mpage-block_ul {
          .mpage-block_li {
            width: auto;

            .mpage-block_box_img {
              img {
                width: 100%;
                height: auto;
              }
            }

            .mpage-block_box_desc {
              a {
                float: none;
              }
            }

            &.__our-proj_li {
              width: auto;
            }
          }
        }
      }
    }
  }
}