/**
* Personal cabinet styles
**/

.pc-menu_ul {
  margin: 0;
  padding: 0;
  list-style: none;

  .pc-menu_li {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

    a {
      display: block;

      background-color: #f2f2f2;
      color: @color-default;

      .icon {
        padding: 10px;
        display: inline-block;
        width: 40px;
        border-right: 1px solid #fff;
        text-align: center;
        color: #888;
      }
      
      .name {
        padding: 10px;
        display: inline-block;
      }
    }

    &:hover,
    &.active {
      a {
        text-decoration: none;
        background-color: @color-red;
        color: #fff;

        .icon {
          color: #fff;
        }
      }
    }
  }
}

/*Statuses*/

.ontheway {
  font-style: italic;
  color: #5992cb;
}

.sent {
  font-style: italic;
  color: #f89406;
}

.delivered {
  font-style: italic;
  color: #7b8d17;
}