/**
* Projects styles
**/
.project-category {
  position: absolute;
  right: 0;
  top: 15px;

  & > a {
    color: @color-default;
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }

    span {
      color: @color-red;
    }
  }

  & > ul {
    left: -114px;
    border-radius: 0;
    text-align: right;

    & > li {
      &>a {
        font-size: @font-size-sm;
        &:hover {
          background-color: #fff;
          color: @color-red;
        }
      }
    }
  }
}
.project-author {
  position: absolute;
  right: 90px;
  top: 15px;

  & > a {
    color: @color-default;
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }

    span {
      color: @color-red;
    }
  }

  & > ul {
    left: -114px;
    border-radius: 0;
    text-align: right;

    & > li {
      &>a {
        font-size: @font-size-sm;
        &:hover {
          background-color: #fff;
          color: @color-red;
        }
      }
    }
  }
}

.project-block {
  position: relative;
  margin-bottom: 45px;

  .project-block_i {
    float: left;
    margin-bottom: 30px;

    .project-block_img {
      position: relative;
      width: 100%;
      border: 1px solid #f2f2f2;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &:hover {
        .project-block_overlay {
          display: block;
        }
      }

      .project-block_overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.55);

        a {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            z-index: 2;
            width: 30px;
            height: 30px;
            color: #fff;
            font-size: 30px;
            line-height: 30px;
          }
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .project-block_info {
      padding: 15px 10px;
      background-color: #f5f5f6;

      .project-block_t {
        margin-bottom: 15px;

        a {
          font-size: 18px;
          line-height: 18px;
          color: @color-default;
          font-weight: 300;

          &:hover {
            text-decoration: none;
            color: #000;
          }
        }
      }

      .project-block_cat {
        margin-bottom: 15px;

        .project-block_cat_ul {
          margin: 0;
          padding: 0;
          list-style: none;

          .project-block_cat_li {
            display: inline-block;

            &:after {
              content: "|";
              padding: 0 3px 0 5px;
              color: @color-h;
            }

            &:last-child:after {
              content: "";
            }

            a {
              color: @color-h;
              font-size: @font-size-sm;
              line-height: @font-size-sm;
            }
          }
        }
      }

      .project-block_desc {
        font-size: 12px;
        color: @color-default;
        line-height: 22px;
        margin-bottom: 15px;
      }
      .project-block_meta {
        background-color: #e7e7e7;
        padding: 3px 5px;
        margin: 0 -10px -15px -10px;
        .project-block_meta_comm {
          float: right;
          font-size: @font-size-sm;
          color: @color-h-ligher;
        }
      }
    }
  }
}

/*
*Detail
*/

.project-detail_cat {
  position: absolute;
  right: 0;
  top: 15px;
}

.project-detail_box {

  .project-detail_img {
    background-color: #f5f5f6;
    border: 1px solid #f2f2f2;
    margin-bottom: 25px;
    height: 400px;
    text-align: center;

    img {
      height: 100%;
      width: auto;
    }
  }
  .project-detail_info {
    .project-detail_author {
      font-size: 12px;

      a {
        color: #415e90;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .project-detail_format {
      margin: 20px 0;
      font-size: 18px;
      line-height: 18px;

      .format_ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;

        .format_li {
          display: inline-block;
          font-size: 12px;

          &:first-child:after {
            content: "|";
            padding: 0 5px;
          }

          &.active {
            a {
              color: #444;
            }
          }

          a {
            color: #6f6f6f;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    .project-detail_price {
      font-size: 36px;
      color: #111;
      padding-bottom: 15px;
      border-bottom: 1px dotted #cbcbcb;

      span {
        font-size: 18px;
        color: #444;
      }
    }

    .project-detail_output {
      margin-top: 15px;
      margin-bottom: 25px;
      padding-bottom: 15px;
      border-bottom: 1px dotted #cbcbcb;

      .project-detail_output_t {
        margin-bottom: 10px;
        font-size: 18px;
      }

      .output_ul {
        margin: 0;
        padding: 0;
        list-style: none;

        .output_li {
          margin: 5px 0;
          font-size: 12px;
        }
      }
    }
  }
}
.project-detail_tabs {
  position: relative;

  .project-detail_shop {
    position: absolute;
    right: 0;
    top: -2px;
  }
}

.project-detail_created {

  .creators {
    text-align: center;
    margin-bottom: 50px;

    .creators_ul {
      margin: 0;
      padding: 0;
      list-style: none;

      .creators_li {
        font-size: 12px;
        margin-bottom: 40px;
        line-height: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.project-detail_others {
  margin-bottom: 50px;
  .others {
    height: 460px;
    background: #f2f2f2 url(../../../assets/images/others/others.png) no-repeat center 93%;
    padding: 30px 30px 120px 30px;
  }
}

.project-detail_authors {
  background-color: #f2f2f2;
  padding: 30px 0 60px 0;

  .authors_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .authors_li {
      display: inline-block;
      width: 100%;
      padding: 30px 0;
      border-bottom: 1px solid #d3d3d3;

      .authors_img {
        display: inline-block;
        width: 130px;
        height: 130px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .authors_info {
        display: inline-block;
        vertical-align: top;
        width: 85%;

        .authors_n {
          font-size: 14px;
          color: @color-default;
          margin-bottom: 25px;
        }

        .authors_desc {
          font-size: 12px;
          line-height: 22px;
        }
      }

      &:nth-child(odd) {
      
        .authors_info {
          margin-left: 30px;
          margin-right: 0;
        }
      }

      &:nth-child(even) {
        .authors_info {
          margin-left: 0;
          margin-right: 30px;
        }
      }
    }
  }
}

.nf-carousel {
  margin: 0 0 70px 0;

  .nf-carousel_ul {
    margin: 0 auto;
    padding: 0 25px;
    list-style: none;
    width: 401px;
    overflow: hidden;

    .nf-carousel_li {
      width: 97px;
      height: 74px;
      display: inline-block;
      margin: 0 30px 0 0;
      background-color: #f2f2f2;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .project-detail_authors {
    .authors_ul .authors_li {
      .authors_info {
        width: 82%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-detail_authors {
    .authors_ul .authors_li {
      .authors_info {
        width: 77%;
      }
    }
  }
}

@media (max-width: 767px) {
  .nf-carousel {
    margin-bottom: 20px;
  }

  .project-detail_tabs {
    .project-detail_shop {
      position: relative;
      top: 0;
      text-align: center;
      margin: 25px 0;
    }
  }

  .project-detail_authors {
    .authors_ul .authors_li {
      text-align: center;
      
      .authors_info {
        width: 100%;
        text-align: center;
        
        &:nth-child(odd) {
          margin: 0 0 20px 0;
        }
        &:nth-child(even) {
          margin: 20px 0 0 0;
        }
        
        .authors_n {
          font-size: 16px;
        }
        
        .authors_desc {
          font-size: 14px;
          line-height: 26px;
        }
      }
      
      &:last-child {
        border-bottom: none;
      }
    }
  }
}