/* Color Scheme */
@color-default: #444;
@color-red: #ee5558;
@color-red-light: #ff2525;
@color-h: #7f7f7f;
@color-h-ligher: #6f6f6f;

/* Font size */
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 18px;
@font-size-xlg: 24px;

//visited, read colors

@read: #d34b98;

//statuses
@success: #129b1c;
@error: #d34e4f;

//borders

@border-default: #d8d8d8;

//charts
@chart-day: #0098ca;
@chart-cnt: #f89406;
@chart-price: @color-red;

body {
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -152px;
}
.wrapper:after {
  content: "";
  display: block;
}
.wrapper:after {
  height: 152px;
}

a {
  color: @color-default;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}