/* Cosmetic stylish
------------------------------------- */
.__br {
  border-right: 1px solid #e1e1e1;
}

.__mb_10 {
  margin-bottom: 10px;
}

.__mb_20 {
  margin-bottom: 20px;
}

.__mt_0 {
  margin-top: 0 !important;
}

.__mt_20 {
  margin-top: 20px;
}

.__mt_15 {
  margin-top: 15px;
}

.mb_4 {
  margin-bottom: 4px;
}

.__mr_5 {
  margin-right: 5px;
}

.w_100p {
  width: 100%;
}

.w_90p {
  width: 90%;
}

.bg-line {
  width: 100%;
  height: 1px;
  margin: 0 0 20px 0;
  background-color: #e1e1e1;
}

.bg-line.lg {
  margin: 20px 0 40px 0;
}

